<div class="header jumbotron">
  <h1 class="text-center">Custom Pipe</h1>
  
</div>
<div class="row">
  <div class="col-md-8 offset-md-2">
    <input type="text" class="form-control" [(ngModel)]="searchVal" placeholder="Serach player-Name">
  </div>
</div>
<div class="container mt-4">
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-bordered table-dark">
          <thead>
            <tr>
              <th>Sr.No</th>
              <th>Player Name</th>
              <th>country</th>
              <th>Role</th>
              <th>Total Runs</th>
              <th>Total Wikets</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let Player of playerArray|filter:searchVal, index as i" [ngClass]="{'bg-info':searchVal}">
              <td>{{i+1}}</td>
              <td>{{Player.name}}</td>
              <td>{{Player.country}}</td>
              <td>{{Player.role}}</td>
              <td>{{Player.totalRuns}}</td>
              <td>{{Player.totalWickets}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>